{% load static %}
<html>
</body>
<section id="about" class="about">
      <div class="container-fluid">

        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
            <a href="https://www.youtube.com/watch?v=R7aAf4ntmYk" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Entering into the Digital World of Artificial Intelligence</h3>
            <p>An Inspiration due to the future of data world , Our first step of  Automatic claim Processing System</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Claim Process</a></h4>
              <p class="description">Quick and Easy process to Automate the Claim Process which saves the delay of Claim Process for a Client </p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Valuable Estimation</a></h4>
              <p class="description">Automated Cost Estimation for a Damage is a valuable and worth for satisfying the customer</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Services</a></h4>
              <p class="description">We are offering Automated Policy underwritten and claim processing.</p>
            </div>

          </div>
        </div>

      </div>
    </section>
</body>
</html>