{% load static %}
{% url 'register' as reg_url%}
<html>
{% include 'head\head.html'%}
{% include 'navbar\navbar1.html'%}
<body>
<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="login" class="my-login-page bg-light ">
      <div class="container col-6">
        <div class="card fat ">
            <div class="card-body">
            <h4 class="card-title text-center">Insurance</h4>
            <center>
      <form method='post' role='form'>
     
      {% csrf_token %}
        <div class="col-6 form-group ">
        {{insurance_form.as_p}}
       
        </div>
       <div class="form-row justify-content-center">
        <button type="submit" class="btn btn-primary btn-small">
            Submit
        </button>
        </div>
      </form>
      </center>
      </div>
      </div>
      </div>
    </section>
    </main>
    </body>
  {% include 'footer\footer.html'%}
  </html>  