{% load static %}
{% url 'home' as home_url %}
<html>
{% include 'head/head.html' %}
<body>
<header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center justify-content-end">

          <h1 class="logo mr-auto"><a href="{% url 'home' %}">XYZ INSURANCE</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="{{ home_url }}">Home</a></li>
              <li><a href="#about">About</a></li>
              {% if request.user.is_authenticated %}
              <li><a href="#policy">policy</a></li>
              <li><a href="#claim">Claim</a></li>
              
              <li class="drop-down"><a href="">Account</a>
            <ul>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Password Change</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
              {% else %}
              <li><a href="#login">Login</a></li>
              {% endif %}
              <!--<li><a href="#team">Team</a></li>-->
              <!--<li><a href="#contact">Contact</a></li>-->
            </ul>
          </nav><!-- .nav-menu -->

        </div>
      </div>
    </div>
  </header>
  </body>
  </html>